body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.container {
  position: relative;
  width: 400px;
  height: 305px;
  overflow: hidden;
  box-sizing: border-box;
}

.glitch-img {
  position: absolute;
  width: 400px;
  height: 305px;
  background-position: center;
  background-size: cover;
}